body {
  position: relative;
  min-height: 100vh; /* 전체 화면 높이 */
  padding-bottom: 50px; /* footer 높이만큼 여백 추가 */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.stats-container {
  max-width: 640px;
  margin: 0 auto;
  margin-top: 1.5rem;
}


.stats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
}

.stats-header h2{
  font-size: 3.5rem;
}

.powered-by {
  margin-left: 8px;
  font-size: 0.65rem;
  color: rgba(128, 128, 128, 0.75);
  font-weight: normal;
}

@media (max-width: 768px) {
  .stats-header h2 {
    margin-left: 1rem;
    font-size: 2.25rem; /* 모바일에 맞게 제목 크기 축소 */
  }

  .powered-by {
    display: block;
    margin-top: 0.25rem;
    margin-left: 1px;
    font-size: 0.55rem; /* 부가 텍스트도 축소 */
  }
}

[data-theme='light'] .statsfm {
  color: rgba(29, 43, 35, 0.5);
  text-decoration: none;
}

[data-theme='dark'] .statsfm {
  color: rgba(28, 215, 96, 0.5);
  text-decoration: none;
}

.statsfm:hover {
  text-decoration: underline;
}


.stats-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  border-radius: 8px;
  width: 100%;
}

.stat-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 60px;
}

.stat-number {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
}

.stat-label {
  font-size: 1.15rem;
  /* font-weight: bold; */
  margin-top: 0.25rem;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .stats-box {
    padding: 0 1rem;
    /* max-width: calc(100vw - 0.25rem); */
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }

  .stat-number {
    font-size: 2rem;
  }

  .stat-label {
    font-size: 1rem;
  }
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* 필요에 따라 조정 */
}

/* 텍스트 */
.loading-container p {
  margin-top: 12px;
  font-size: 1.1rem;
  color: var(--text-color);
}

/* 스피너 */
.spinner {
  width: 24px;
  height: 24px;
  border: 4px solid rgb(122, 122, 122);
  border-top: 4px solid var(--text-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
